<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OfflineStoragePath" value="E:\Temp\Offline Aggregates\"/>
  </appSettings>
  <connectionStrings>
    <add name="Timeline" connectionString="Data Source=(local);Initial Catalog=Timeline;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
