<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  
  <appSettings>
    <add key="OfflineStoragePath" value="E:\Temp\Offline Aggregates\"/>
  </appSettings>
  
  <connectionStrings>
    <add name="Timeline" connectionString="Data Source=(local);Initial Catalog=Timeline;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
    <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
</configuration>
